body{
background-color: ;
}


#ctx{


}
.hero{

	width: 32px;
	height: 32px;
	background-image: url('../images/hero.png');
	transform: translate3d(50px, 50px, 0);
	transition: transform .3s cubic-bezier(.17, .67, .83, .67);

}

#mainContainer{
	width: 480px;
	height: 480px;
	background-image: url('../images/untitled.png'); 
}