
/*conianer that holds the header*/
#firstbox {
    margin:20px 20px 0 20px;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;

}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 40px;
    text-align: center;

}

/* Style each tab content individually */ 


#Projects {
    background-color:orange;
}

/*-----------------------------------*/
/*--------- End of header -----------*/
/*-----------------------------------*/
/*-------- Beggining of body --------*/
/*-----------------------------------*/


h3 {
    margin: 120px 40px 0px 40px;
    color: white;
    padding: 10px;
    font-family:courier;

}

h2{
    margin: 20px 40px 0px 40px;
    color: white;
    padding: 10px;
    font-family:courier;

}

.info {
    margin: 90px 0px 0px 40px;
    min-height: 200px;
    color: white;
    padding: 10px;
    font-family:courier;
}
  


.copy{
    color: white;
    font-size: 10px;
    text-align: center;
    position: relative;
    
    /*working on this*/
    margin-top: 14%;
    /*///////////*/
}

/*-----------------------------------*/
/*----------- End of body -----------*/
/*-----------------------------------*/










